<div role="tabpanel" class="tab-pane fade in active" id="activity">
  <ul class="list-group">
    <% @commits.each do |name, url | %>
      <li class="list-group-item">
        <%= link_to name, url %>
      </li>
    <% end %>
  </ul>
</div>
