<div role="tabpanel" class="tab-pane fade in active" id="repos">
  <ul class="list-group">
    <% @repos.each do |name, date| %>
      <li class="list-group-item">
      <span class="badge">Last updated: <%= date %></span>
    <%= link_to name, "https://github.com/#{name}" %></li>
    </li>
    <% end %>
  </ul>
</div>
