<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <%= link_to "GitMoore", root_path, class:"navbar-brand" %>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Login", '/auth/github'  %></li>
  </div>
</nav>
