<div class="container-fluid home-page">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1>GitMoore</h1>
    <h3>This is the place where you get Moore from your daily hub.</h3>
    <%= link_to "Log in with GitHub", '/auth/github', class: "btn btn-primary btn-lg" %>
  </div>
  <div class="col-md-2"></div>
</div>
